<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <a href="#">
                        <img src="https://dummyimage.com/600x400/ccc/fff/&text=%E7%A3%A8%E6%96%AF%E5%8D%9A%E5%AE%A2" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">糖|克里昂</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                           <li class="zhihu">
                               <a href="#" target="_blank">磨斯</a>
                           </li>
                            <li class="weibo">
                               <a href="#" target="_blank">磨斯</a>
                           </li>
                            <li class="toutiao">
                               <a href="#" target="_blank">磨斯</a>
                           </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc"></p>
                        </div>
                    </div>
                </div>
            </div>